<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jnshu.sildenafil.system.mapper.ArticleDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jnshu.sildenafil.system.domain.Article">
        <id column="id" property="id" />
        <result column="create_at" property="createAt" />
        <result column="update_at" property="updateAt" />
        <result column="create_by" property="createBy" />
        <result column="update_by" property="updateBy" />
        <result column="author" property="author" />
        <result column="body" property="body" />
        <result column="type" property="type" />
        <result column="cover" property="cover" />
        <result column="digest" property="digest" />
        <result column="title" property="title" />
        <result column="like_amount" property="likeAmount" />
        <result column="collection_amount" property="collectionAmount" />
        <result column="status" property="status" />
    </resultMap>

</mapper>
