<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jnshu.sildenafil.system.mapper.ForumDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jnshu.sildenafil.system.domain.Forum">
        <id column="id" property="id" />
        <result column="create_at" property="createAt" />
        <result column="student_id" property="studentId" />
        <result column="title" property="title" />
        <result column="body" property="body" />
        <result column="review_amount" property="reviewAmount" />
    </resultMap>

</mapper>
